{% extends 'webpage/base.html' %}
{% block title %}Home page{% endblock %}
{% block content %}
<style>
	.card {
		padding: 10px;
	}

	.card h3 {
		font-family: none;
	}
</style>
<h2>Home Page</h2>
<div style="display:flex;">
	<div class="card" style="width:33%;">
		<h3>First</h3>
		Duis gravida enim nec accumsan rhoncus. Vivamus quis nisi ac ligula aliquam auctor ut et tellus. Sed eget accumsan justo, et varius magna. In finibus ex id massa semper, non sodales metus iaculis. Aliquam tincidunt mauris a tortor congue mollis eget ac lacus. Vestibulum sit amet nunc vitae lacus tincidunt ornare. Integer est urna, feugiat eget dolor sit amet, consectetur ullamcorper leo. Vivamus non faucibus augue.
	</div>

	<div class="card" style="width:33%;">
		<h3>Second</h3>
		Proin nec congue tortor. Nulla elementum, lectus a semper vulputate, ligula leo congue nunc, sed placerat ligula lacus id tellus. Quisque volutpat feugiat sagittis. Suspendisse potenti. Praesent semper eleifend porta. Praesent rutrum nunc sem, id tristique massa fringilla sed. Nunc at erat libero. In hac habitasse platea dictumst. Donec viverra velit vitae magna pellentesque accumsan. Suspendisse non augue metus. Nunc id dapibus est, in commodo nunc. Vestibulum turpis ante, venenatis at augue in, malesuada interdum ex. Donec in libero leo.
	</div>

	<div class="card" style="width:33%;">
		<h3>Third</h3>
		Quisque suscipit rhoncus nisi, vitae viverra justo scelerisque at. Nulla metus felis, gravida a nisi volutpat, finibus tempor tortor. Nulla placerat mattis augue, quis sagittis nunc. Cras eleifend velit ac dolor porttitor pulvinar ut vitae ex. In interdum vulputate condimentum. Mauris facilisis pharetra elit quis imperdiet. In posuere tellus nisi, sit amet elementum neque dictum id. Sed cursus congue tellus sit amet elementum. Duis nec tortor ac ligula cursus dapibus non id nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis at mauris sit amet odio pellentesque porttitor ut eu sem. Integer faucibus ligula in facilisis elementum. Praesent ullamcorper tellus nec sagittis sollicitudin. Quisque nec ex sit amet turpis venenatis pretium nec id elit. Curabitur ipsum nunc, dapibus sit amet pharetra semper, fermentum at libero.
	</div>
</div>
{% endblock %}