{% extends 'webpage/base.html' %}
{% block title %}Book list{% endblock %}
{% block content %}
<h2>{{ category }} 검색 결과</h2>
<form class="row row-cols-auto justify-content-center">
	<div class="col-4">
		<input class="form-control" type="text" placeholder="찾고자 하는 키워드를 입력하세요" />
	</div>

	<div class="col-1">
		<button type="submit" class="btn btn-secondary">검색</button>
	</div>
</form>
<hr />

<div class="d-block justify-content-center">
	<table id="book-table" class="table table-responsive table-striped table-bordered border-dark table-hover align-middle">
		<thead class="align-middle text-center">
			<tr>
				<th scope="col" style="width: 5%;">순서</th>
				<th class="col-5" scope="col">책 제목</th>
				<th class="col-4" scope="col">지은이</th>
				<th class="col-2" scope="col">추천 키워드</th>
			</tr>
		</thead>
		<tbody>
			{% for row in result %}
			<tr role="button" data-href="https://www.nl.go.kr/NL/contents/N20500000000.do?schM=view&recomNo={{row.recomNo}}">
				<th class="text-center" scope="row">{{ forloop.revcounter }}</th>
				<td>{{ row.recomtitle }}</td>
				<td>{{ row.recomauthor }}</td>
				<td>{{ row.keywords|join:", " }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<hr/>

	<div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<a class="page-link">Previous</a>
				</li>
				<li class="page-item{% if page == 1 %} active{% endif %}"><a class="page-link" href="{% url 'webpage:list' page=1 %}">1</a></li>
				<li class="page-item{% if page == 2 %} active{% endif %}"><a class="page-link" href="{% url 'webpage:list' page=2 %}">2</a></li>
				<li class="page-item disabled">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
{% endblock %}
{% block script %}
	<script>
		$( document ).ready(function() {
			$("#book-table").on("click", "tr[role=\"button\"]", function (e) {
				window.open($(this).data("href"), '_blank');
			});
		});
	</script>
{% endblock %}