{% extends 'webpage/base.html' %}
{% block title %}Search page{% endblock %}
{% block content %}
<style>
	.card {
		padding: 10px;
	}

	.card h3 {
		font-family: none;
	}
</style>

<h2>Search Page</h2>

<div style="display:flex;">
	<div class="card" style="width:33%;">
		<h3>First</h3>
		Nulla accumsan lacinia tortor eget posuere. Nunc sed facilisis neque. Sed quis lacus urna. Curabitur pellentesque semper est, in egestas lorem sodales quis. Cras et viverra sapien, dignissim ultricies magna. Aenean augue nulla, elementum nec luctus ac, efficitur quis nibh. Integer eu nisl sed sem feugiat gravida. Phasellus vitae enim a massa pretium malesuada.
	</div>

	<div class="card" style="width:33%;">
		<h3>Second</h3>
		Pellentesque gravida nec elit eget semper. Integer suscipit euismod arcu quis dignissim. Suspendisse tempus porttitor fringilla. Morbi ut justo auctor, volutpat libero quis, viverra erat. Proin molestie scelerisque neque, sit amet imperdiet nunc hendrerit non. Nam ornare placerat ligula at interdum. Aliquam a leo dolor.
	</div>

	<div class="card" style="width:33%;">
		<h3>Third</h3>
		Donec porttitor lacinia urna a faucibus. Praesent imperdiet leo eu egestas tempor. Nulla a mauris est. Aliquam fermentum mattis quam, et luctus enim blandit id. Proin imperdiet dolor vitae orci sagittis cursus. Curabitur maximus lorem in metus scelerisque, a vulputate ligula efficitur. Aliquam venenatis vitae velit id condimentum. Nullam sit amet posuere nisi, aliquam fermentum ipsum. Ut sed sagittis arcu, quis dapibus lectus. Fusce vehicula condimentum sapien nec efficitur. Quisque vel nisi at odio accumsan ullamcorper. Aenean ac metus eget ipsum tristique ullamcorper.
	</div>
</div>
{% endblock %}