{% extends 'webpage/base.html' %}
{% load webpage_extra %}
{% block title %}Book list{% endblock %}
{% block content %}
<style>
	.line-breaks {
		white-space: pre;
	}
</style>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/2.0.4/css/dataTables.bootstrap5.css" />
<h2>{% replace_category_name drcode %} 검색 결과</h2>
<form class="row row-cols-auto justify-content-center" method="get" action="{% if drcode == 0 %}{% url 'webpage:list-keyword-default' %}{% else %}{% url 'webpage:list-specific-keyword-default' drcode=drcode %}{% endif %}">
	<div class="col-4">
		<input class="form-control" type="text" name="keyword" minlength="2" placeholder="찾고자 하는 키워드를 두 글자 이상 입력하세요" value="{% if keyword %}{{ keyword }}{% endif %}" required />
	</div>

	<div class="col-1">
		<button type="submit" class="btn btn-secondary">검색</button>
	</div>
</form>
<hr />

<div class="d-block justify-content-center">
	<table id="book-table" class="table table-responsive table-striped table-bordered border-dark table-hover align-middle">
		<thead class="align-middle text-center">
			<tr>
				<th scope="col" style="width: 7%;">순서</th>
				<th scope="col" style="width: 7%;">분야</th>
				<th scope="col" style="width: 50%;">책 제목</th>
				<th scope="col" style="width: 16%;">지은이</th>
				<th scope="col" style="width: 20%;">추천 키워드</th>
				<th scope="col" style="display: none;">추천 링크 No</th>
			</tr>
	</thead>
	</table>
</div>
{% endblock %}
{% block script %}
	<script src="//cdn.datatables.net/2.0.4/js/dataTables.js"></script>
	<script src="//cdn.datatables.net/2.0.4/js/dataTables.bootstrap5.js"></script>
	<script>
		$( document ).ready(function() {
			$("#book-table").on("click", "tr[role=\"button\"]", function (e) {
				window.open($(this).data("href"), '_blank');
			});

			{% comment %} keyword 변수에 대해 파이썬과 자바스크립트 간 변수 접근 관련해서 시행착오가 있었음. {% endcomment %}
			var drcode = {{ drcode }}
			var keyword = encodeURIComponent(String.raw`"{{ keyword|default_if_none:'null'}}"`)
			var table = $("#book-table").DataTable({
				"dom": 'rt<"d-flex justify-content-center mt-2"p><"mb-4">',
				"serverSide": true,
				"processing": true,
				"ajax": {
					{% if drcode != 0 and not keyword %}"url": "/rest/books/specific/" + drcode + "?format=datatables",
					{% elif drcode != 0 and keyword %}"url": "/rest/books/search/specific/" + drcode + "/" + keyword + "?format=datatables",
					{% elif drcode == 0 and keyword %}"url": "/rest/books/search/" + keyword + "?format=datatables",
					{% else %}"url": "/rest/books/?format=datatables",{% endif %}
					"datatype": "json",
				},
				"columns": [
					{"data": "id", "searchable": false},
					{
						"data": "drcode",
						"searchable": false,
						"render": function (data, type) {
							if (data === 4) {
								data = "자연과학"
							} else if (data === 5) {
								data = "사회과학"
							} else if (data === 6) {
								data = "인문사회"
							} else if (data === 11) {
								data = "문학"
							} else if (data === 425) {
								data = "테마"
							}

							return data;
						}
					},
					{"data": "title", "searchable": false},
					{"data": "author", "searchable": false},
					{
						"data": "keyword", 
						"render": function (data, type) {
							concat_data = data[0] + ", " + data[1] + ", " + data[2];
							return concat_data;
						},
						"searchable": false, 
						"orderable": false,
					},
					{"data": "recomno", "visible": false},
				],
				"columnDefs": [
					{
						"targets": [0, 1],
						"className": 'text-center',
					},
					{
						"targets": '_all',
						"searchable": false,
					},
				],
				"createdRow": function (row, data, dataIndex) {
					$(row).click(function () {
						window.open('/webpage/detail/' + data['id'])
					});
					$(row).css('cursor', 'pointer');
				},
				"pageLength": 10,
				"lengthChange": false,
			});
		});
	</script>
{% endblock %}
